body {
  color: rgb(200,8.5,55);
  font-family: sans-serif;
  margin: 5px;
}

div {
  min-height: 50vh;
  width: 100vw;
}

h1, h2 {
  text-align: center;
}

h1 {
  font-size: 5em;
}
h2 {
  font-size: 2.5em;
}

img{
  display: flex;
  padding: 20px;
  margin: 0 auto;
  border-radius: 130px;
}

img {

}

p {
  width: 100vw;
  font-size: 2em;
  text-align: center;
}

a{
  color:rgb(0,0,0);
}

ol {
  list-style: none;
  padding: 0;
  margin-bottom: 10%;
  font-size:3em;
  display:flex;
  justify-content: space-evenly;
}

li#lower {
margin-top: 7%;
}
li#lowest {
  margin-bottom: 14%;
}

div.contrast {
  background-color: pink;
  color: rgb(200,8.5,55);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

ul {
  list-style: none;
  display:flex;
  font-size: 40px
}

li {
  margin: 0 20px
  transition: 0.6s ease;
}

li:hover {
  font-size: 1.2em;
  transition:0.6s ease;
}
